
@{
    Layout = @ViewBag.VBLayout;

}

<!DOCTYPE html>

<html>
<head>
    <script src="https://cdn.jsdelivr.net/gh/YuanxiangFranck/Leaflet.heat/dist/leaflet-heat.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/YuanxiangFranck/Leaflet.heat/src/HeatLayer.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Leaflet/Leaflet.fullscreen/dist/Leaflet.fullscreen.min.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>@LabelStruct.Administrator.AdministratorHomepage</title>

    <style type="text/css">
        .mobileHide {
            display: inline;
        }
        /* Smartphone Portrait and Landscape */
        @@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            .mobileHide {
                display: none;
            }
        }
    </style>
</head>
<body>

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="">Administrator</a></li>
        <li class="breadcrumb-item active">Homepage</li>
    </ol>


    @*@ViewBag.Coding*@

    @*<ul>
            @foreach (var person in ViewBag.DUMMY)
            {
                <li>'@person.XCoordinates - @person.YCoordinates'</li>
            }
        </ul>*@

    <!--DESCRIPTION START-->


    <div class="card mb-4">
        <div class="card-body">
            @LabelStruct.Administrator_Message.M_AdministratorHomepage
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Solved Water Cases</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link">@ViewBag.VBWater</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Solved Land Cases</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link">@ViewBag.VBLand</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Pending Cases</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link">@ViewBag.VBProgress</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Community Users</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link">@ViewBag.VBUsers</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <!--DESCRIPTION END-->
    <!--TITLE START-->

    <div class="row mobileHide">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar mr-1"></i>
                    This Year's Monthly Status
                </div>

                <div class="card-body">
                    <canvas id="myChart" width="100" height="50"></canvas>

                    @*<div class="row">
                            <div class="col-lg-3 offset two" id="chart-legends">
                            </div>
                            <div class="col-lg-9 one" id="chartyheight">
                                <canvas id="myChart" width="100" height="50"></canvas>

                            </div>
                        </div>*@

                </div>
            </div>
        </div>
    </div>






    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar mr-1"></i>
                    Overall Concern Status
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100" height="50"></canvas></div>
            </div>
        </div>

        <div class="col-lg-6 mobileHide">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-pie mr-1"></i>
                    Overall Submitted Concerns Per Area
                </div>

                <div class="card-body">
                    @*<select name="YearDDL" class="btn btn-primary YearDDL">- Please Select -</select>*@
                    <canvas id="myPieChart" width="100" height="50"></canvas>

                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-chart-area mr-1"></i>
            Recently Submitted Concerns
        </div>


        <div class="card-body">
            <table id="CaseReportTable" class="table table-hover table-striped table-bordered table-responsive-sm" cellspacing="0" style="width:100%; "></table>


            @*
                overflow:auto; word-break:break-all;**@
        </div>

        <div class="card-footer small text-muted">Data as of @ViewBag.DATETIMENOW</div>
    </div>

    <!--TITLE END-->
    <!--ADD MODAL BEGIN-->
    <div class="modal fade" id="myModalAdd" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content" id="modalwindow">
                <div class="modal-header">
                    <h3 class="modal-title Title">Insert : User Information</h3>
                </div>
                <div class="modal-body">

                    <div class="modal-body mx-3">

                        <div class="md-form mb-5">
                            <input type="text" id="orangeForm-name" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="orangeForm-name">Username</label>
                        </div>

                        <div class="md-form mb-5">
                            <input type="text" id="orangeForm-name" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="orangeForm-name">Given Name</label>
                        </div>

                        <div class="md-form mb-5">
                            <input type="text" id="orangeForm-name" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="orangeForm-name">Maiden Name</label>
                        </div>

                        <div class="md-form mb-5">
                            <input type="text" id="orangeForm-name" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="orangeForm-name">Family Name</label>
                        </div>

                        <div class="md-form mb-5">
                            <input type="email" id="orangeForm-email" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="orangeForm-email">Email Address</label>
                        </div>

                        <div class="md-form mb-4">
                            <input type="password" id="orangeForm-pass" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="orangeForm-pass">Password</label>
                        </div>

                        <div class="md-form mb-4">
                            <input type="password" id="orangeForm-pass" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="orangeForm-pass">Confirm Password</label>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <input type="submit" id="btnAddRemarks" value="Insert" class="btn btn-primary btn-md btnAddRemarks" />
                </div>
            </div>
            <!-- Modal content-->
        </div>
    </div>
    <!--ADD MODAL END-->
    <!--UPDATE MODAL BEGIN-->
    <div class="modal fade" id="myModalUpdate" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content" id="modalwindow">
                <div class="modal-header">
                    <h3 class="modal-title Title">Update : User Type</h3>
                </div>

                <div class="modal-body">
                    <fieldset id="EditSection">
                        <div class="control-label col-xs-12 col-sm-4">
                            Hello World!
                        </div>
                    </fieldset>
                </div>

                <div class="modal-footer">
                    <input type="submit" id="btnUpdateRemarks" value="Update" class="btn btn-primary btn-md btnUpdateRemarks" />
                </div>
            </div>
            <!-- Modal content-->
        </div>
    </div>
    <!--UPDATE MOAL END-->

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-chart-area mr-1"></i>
            Overall Status
        </div>


        <div class="card-body">
            <select name="UpdatedStatusDDL" class="btn btn-dark UpdatedStatusDDL">- Please Select -</select>
            <div class="control-label col-xs-12 col-sm-4">
                <label class="asteriskRequired"></label>
            </div>
            <div style="padding-top:25px; height:1000px" id='map'></div>
        </div>
        <div class="card-footer small text-muted">Data as of @ViewBag.DATETIMENOW</div>
    </div>

</body>
</html>

<script>

    var addressPoints = [];
    var resultingdata;


    $(document).ready(function () {
        LoadMap();
        LoadCaseReport();
        LoadUpdatedStatusDDL();
        LoadYearDDL();

    });

    function LoadYearDDL() {
        var temp = $(".YearDDL").empty();
        temp.append($("<option>Select Year</option>"));
        $.ajax({
            type: "GET",
            url: "/DataGet/GetYear",
            dataType: "json",
            success: function (response) {
                $.each(response, function () {

                    temp.append($("<option></option>").val(this['Description']).html(this['Description']));
                });
            }
        })
    };

    var BAR1 = document.getElementById("myChart");
    var myBarChart = new Chart(BAR1, {
        type: 'bar',
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            datasets: [
                 @Html.Raw(@ViewBag.Coding)
            ],
        },
        options: {
            responsive: true,
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 0,
                    bottom: 0
                }
            },
            legend: {
                position: "left",
                display: true,
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        min: 0
                    }
                }]
            }
        }
    });


    $(document).on("change", ".UpdatedStatusDDL", function () {
        addressPoints = [];
        ReLoadMap();
        var PARAM_UPDATEDSTATUSID = $('.UpdatedStatusDDL').val();

        $.ajax({
            type: "GET",
            "url": "/DataGet/GetCaseReport",
            dataType: "json",
            async: false,
            data: {
                UpdatedStatusID: PARAM_UPDATEDSTATUSID,
            },
            success: function (result) {

                //$.each(result, function (index, value) {
                var jsonStringify = JSON.stringify(result);
                var jsonObj = JSON.parse(jsonStringify);
                //console.table(jsonObj);
               // console.log(jsonObj);
                resultingdata = jsonObj;
                //alert(jsonObj[0]['XCoordinates'] + ' ' + jsonObj[0]['YCoordinates']);
                //});
            }
        }
        );
    //    console.log(resultingdata);
        Object.keys(resultingdata).forEach(
            (key) => addressPoints.push([
                "<center><img src='" + resultingdata[key]['PhotoLink'] + "' style='width:250px; height:150px;' id='imageID'></center><br /><b>Case Report No: </b>" + resultingdata[key]['CaseReportID'] + "<br /><b>Reported on: </b>" + new Date(parseInt((resultingdata[key]['DateReported']).substr(6))) + "<br /><b>Updated on: </b>" + new Date(parseInt((resultingdata[key]['UpdatedStatusDate']).substr(6))) + "<br /><b>Concern: </b>" + resultingdata[key]['Concern'] + " - " + resultingdata[key]['SubCategory'] + "<br /><b>Location: </b>" + resultingdata[key]['CaseLocation']
                , resultingdata[key]['XCoordinates']
                , resultingdata[key]['YCoordinates']])
        );
   //     console.log(addressPoints);
    });

    function LoadUpdatedStatusDDL() {
        var temp = $(".UpdatedStatusDDL").empty();
        temp.append($("<option>Select Status</option>"));
        $.ajax({
            type: "GET",
            url: "/DataGet/GetUpdatedStatus",
            dataType: "json",
            success: function (response) {
                $.each(response, function () {

                    temp.append($("<option></option>").val(this['UpdatedStatusID']).html(this['Description']));
                });
            }
        })



    };

    $(document).on("click", ".AddUserType", function () {
        $('#myModalAdd').modal('show');
    });

    function LoadCaseReport() {
        table = $('#CaseReportTable').DataTable({
            bLengthChange: false,
            destroy: true,
            responsive: true,
            order: [[1, 'asc']],
            ajax: {
                type: "GET",
                "url": "/DataGet/GetCurrentCaseReport?UpdatedStatusID=1",
                dataSrc: function (json) {
                    var a = new Array();
                    for (var b = 0; b <= json.length - 1; b++) {
                        var c = json[b];
                        a.push({
                            'CaseReportID': c.CaseReportID,
                            'UserInformationID': c.UserInformationID,
                            'FamilyName': c.FamilyName,
                            'GivenName': c.GivenName,
                            'MaidenName': c.MaidenName,
                            'FullName': c.GivenName + " " + c.MaidenName + " " + c.FamilyName,
                            'EnvironmentalConcernID': c.EnvironmentalConcernID,
                            'DateReported': new Date(parseInt(c.DateReported.substr(6))),
                            'Concern': c.Concern,
                            'UpdatedStatus': c.UpdatedStatus,
                            'UpdatedStatusDate': c.UpdatedStatusDate,
                            'CaseLocation': c.CaseLocation,
                            'XCoordinates': c.XCoordinates,
                            'YCoordinates': c.YCoordinates,
                            'Coordinates': "(" + c.XCoordinates + "," + c.YCoordinates + ")",
                            'Notes': c.Notes
                        });
                    }
                    return a;
                },
            },
            columns: [
                {
                    title: "No.",
                    data: "CaseReportID"
                },
                {
                    title: "Citizen",
                    data: "FullName"
                },
                {
                    title: "Concern",
                    data: "Concern"
                },
                {
                    title: "Date",
                    data: "DateReported"
                },
                {
                    title: "Area",
                    data: "CaseLocation"
                }

            ],
            'columnDefs': [
                {
                    "className": "dt-center", "targets": "_all"
                }],
        });

        return table;
    };

    function getRandomColor() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    var PIE = document.getElementById("myPieChart");
    var myPieChart = new Chart(PIE, {
        type: 'pie',
        data: {
            labels: [@Html.Raw(ViewBag.ECName)],
            datasets: [{
                data: [@ViewBag.ECCount],
                backgroundColor: [getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor()],
                    //['#00FFFF', '#32CD32']
            }],
        },
    });

    var BAR = document.getElementById("myBarChart");
    var myBarChart = new Chart(BAR, {
        type: 'bar',
        data: {
            labels: [@Html.Raw(ViewBag.SStatus)],
            datasets: [{
                data: [@ViewBag.SCount],
                backgroundColor: [getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor()],

            }],
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        min: 0
                    }
                }]
            }
        }
    });

   
    $(document).on("change", ".YearDDL", function () {

        var PARAM_Year = $('.YearDDL').val();

        if (PARAM_Year == 0 || PARAM_Year == "" || PARAM_Year == null || PARAM_Year == "Select Year") {

            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please select a year!',
                footer: '<a>Powered by TerraTech</a>'
            })
        }

        else {
            try {
                window.location.href = "/Entities/Administrator?UpdatedStatusID=" + PARAM_Year;
            }
            catch
            {

            }
        }


    });

    $(document).on("click", "#imageID", function () {
        Swal.fire({
            title: 'Environmental Concern',
            text: 'Powered by TerraTech',
            imageUrl: $(this)[0].getAttribute('src'),
            imageWidth: 400,
            imageHeight: 200,
            imageAlt: 'Custom image',
        })

    });

    function LoadAddressPoints() {
        addressPoints = addressPoints;
    }

    function LoadMap() {
        map = L.map('map');
        var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: 'a',
        }).addTo(map);
        var maxBounds = [
            [21.116625, 131.175528],
            [4.991861, 115.976455]
        ];
        map.setMaxBounds(maxBounds);
        map.fitBounds(maxBounds);

      //  map.setView([14.564946, 121.041729], 7);
      
        $('.leaflet-control-attribution').hide();

        L.easyButton('fas fa-fire-alt', function () {
            LoadHeatMap();

        }).addTo(map);

        L.easyButton('fas fa-map-marker-alt', function () {
            LoadMarkerMap();
        }).addTo(map);

        L.easyButton('fas fa-compress', function () {
            map.toggleFullscreen();
        }).addTo(map);
    }

    function LoadMarkerMap() {
        ReLoadMap();
        LoadAddressPoints();
        for (var i = 0; i < addressPoints.length; i++) {
            marker = new L.marker([addressPoints[i][1], addressPoints[i][2]])
                .bindPopup(addressPoints[i][0])
                .addTo(map);
        }
        map.setView([addressPoints[0][1], addressPoints[0][2]], 25);
    };

    function LoadHeatMap() {
        ReLoadMap();
        LoadAddressPoints();
        var x = addressPoints.map(function (p) {
            return [p[1], p[2]];
        });
        var heat = L.heatLayer(x).addTo(map);
        map.setView([addressPoints[0][1], addressPoints[0][2]], 25);
    }

    function ReLoadMap() {
        if (map != null) {
            map.remove();
            map = null;
        }
        LoadMap();
    }


</script>