
@{
    Layout = @ViewBag.VBLayout;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@LabelStruct.Administrator.Volunteers</title>
</head>
<body>

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="">Volunteer</a></li>
        <li class="breadcrumb-item active">Manage Concern</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-chart-area mr-1"></i>
            Location of Concern
        </div>


        <div class="card-body">
            <div class="control-label col-xs-12 col-sm-4">
                <label class="asteriskRequired"></label>
            </div>
            <b>Date Reported: </b>@ViewBag.DateReported   <br />
            <b>Date Assigned: </b>@ViewBag.UpdatedStatusDate<br />
            <b>X Coordinates: </b>@ViewBag.XCoordinates  <br />
            <b>Y Coordinates: </b>@ViewBag.YCoordinates  <br />
            <div style="padding-top:25px; height:550px; border:double;" id='map'></div>
        </div>
    </div>


    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-chart-area mr-1"></i>
            Update the Status
        </div>

        <div class="card-body">
            <p>
                Press <i class='fas fa-check'></i> To mark the report as completed and add a proof of completion.
            </p>
            <p>
                Press <i class='fas fa-times'></i> To mark the report as rejected due to wrong information provided by the concerned citizen.
            </p>
            <a class='btn btn-danger btn-xs btnReject' title='Delete' style='color: white'><i class='fas fa-times'></i>&nbsp;</a>
            <a class='btn btn-success btn-xs btnUpdate' title='Edit' style='color: white'><i class='fas fa-check'></i></a>
        </div>

    </div>


    @*MODAL SECTION UPDATE START*@
    <div class="modal fade" id="myModalUpdate" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content" id="modalwindow">
                <div class="modal-header">
                    <h3 class="modal-title Title">Volunteer: Update Status</h3>
                </div>

                @using (Html.BeginForm("CompleteConcern", "Entities", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="modal-body">

                        <div class="modal-body mx-3">

                            <div class="form-group">
                                <img id='img-upload' style="border:thin; margin-bottom:10px; height:75%; width:100%; border:double;" />
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-default btn-file" style=" position: relative; overflow: hidden; background-color:black; color:white;">
                                            <i class='fas fa-camera'></i> Submit Image
                                            <input type="file" accept="image/*" id="image1" name="image1" alt="Responsive image" style="position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; font-size: 100px; text-align: right; filter: alpha(opacity=0); opacity: 0; outline: none; background: white; cursor: inherit; display: block;" capture required>
                                            <input type="hidden" name="CaseReportID" id="CaseReportID" required>

                                        </span>
                                    </span>
                                    <input type="text" class="form-control" readonly required>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <p>Powered by TerraTechPH</p>
                        @*<button type="button" id="btnReject" class="btn btn-warning btnReject" data-dismiss="modal">Reject</button>*@
                        <input type="submit" value="Complete" class="btn btn-primary btn-md btnREQAddVolunteer" id="btnREQAddVolunteer" />

                        <button type="button" class="btn btn-danger" data-dismiss="modal" title="Close">Close</button>
                    </div>
                }
            </div>
            <!-- Modal content-->
        </div>
    </div>
    @*MODAL SECTION UPDATE END*@

</body>
</html>


<script>



    $(document).ready(function () {
        LoadMap();
      

        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $('.btn-file :file').on('fileselect', function (event, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) console.log(log);
            }

        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-upload').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#image1").change(function () {
            readURL(this);
        });
    });

    function LoadMap() {
    var map = L.map('map');
        var locations = [
            [

                " <center><img src='@ViewBag.PhotoLink' style='width:150px; height:px;' id=imageID></center>"+"<br />"+
                "<b><center>Summarized Information</center></b> " + "<br />" +
                "<b>Case Report No: </b>@ViewBag.CaseReportID" + "<br />" +
                "<b>Concern: </b>@ViewBag.Concern " + "<br />" +
                "<b>Category: </b>@ViewBag.SubCategory " + "<br />"
            , @ViewBag.XCoordinates, @ViewBag.YCoordinates],
        ];
        var a = 'https://api.tiles.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYmJyb29rMTU0IiwiYSI6ImNpcXN3dnJrdDAwMGNmd250bjhvZXpnbWsifQ.Nf9Zkfchos577IanoKMoYQ';
        var b = 'https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

        map.invalidateSize();
        var maxBounds = [
            [21.116625, 131.175528],
            [4.991861, 115.976455]
        ];

        L.tileLayer(b).addTo(map);
        map.setMaxBounds(maxBounds);
        map.fitBounds(maxBounds);
        map.setView([@ViewBag.XCoordinates, @ViewBag.YCoordinates], 30);
        var marker;
        for (var i = 0; i < locations.length; i++) {
            marker =  new L.marker([locations[i][1], locations[i][2]])
                .bindPopup(locations[i][0])
                .addTo(map);
        }

        $('.leaflet-control-attribution').hide();
        setTimeout(function () {
            map.invalidateSize();
        }, 10);
    };


    $(document).on("click", ".btnReject", function () {
        Swal.fire({
            title: 'Are you sure?',
            text: "Do you really want to Reject the Report?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, reject it!'
        }).then((result) => {
            if (result.value) {

                $.ajax({
                    type: "GET",
                    "url": "/DataUpdate/UpdateCaseReportToRejected",
                    dataType: "json",
                    async: false,
                    data: {
                        CaseReportID: @ViewBag.CaseReportID,
                    }
                });
                window.location.href = "/Entities/Assignations";
            }
        })
    });



    $(document).on("click", ".btnUpdate", function () {
        $('#myModalUpdate').modal('show');
    });


    $(document).on("click", ".btnREQAddVolunteer", function () {
        CaseReportID = document.getElementById("CaseReportID");
        CaseReportID.value = @ViewBag.CaseReportID;
    });

    $(document).on("click", ".btnComplete", function () {
        Swal.fire({
            title: 'Are you sure?',
            text: "Do you really want to mark this as Completed?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, mark it as as Completed!'
        }).then((result) => {
            if (result.value) {

                $.ajax({
                    type: "GET",
                    "url": "/DataUpdate/UpdateCaseReportToCompleted",
                    dataType: "json",
                    async: false,
                    data: {
                        CaseReportID: @ViewBag.CaseReportID,
                    }
                });
                location.reload();
            }
        })
    });


</script>
